<button>read more</button>

<style>
	button {
		text-transform: uppercase;
		color: var(--very-dark-blue);
        background-color: var(--soft-red);
        padding: 1em 2em;
        border: none;
        font-weight: 700;
        letter-spacing: 4px;
	}
</style>
