---
import BtnCloseMenu from './btnCloseMenu.astro';
const links = ['Home', 'New', 'Popular', 'Trending', 'Categories'];
---

<nav id="nav">
	<BtnCloseMenu />
	<div class="links">
		{links.map((link) => <a href="#">{link}</a>)}
	</div>
</nav>

<style>
	nav {
		position: fixed;
		right: -100%;
		top: 0;
		background-color: #fff;
		padding: 2em;
		height: 100vh;
		width: 50%;
		transition: all 1s;
	}

	.showNav {
		right: 0;
        box-shadow: -270px 0 0 rgba(0, 0, 0, .5);
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-top: 90px;
	}

	a {
		color: var(--dark-grayish-blue);
		text-decoration: none;
	}

	a:hover {
		color: var(--soft-orange);
	}
	@media screen and (width >= 800px) {
		nav {
			position: static;
			background-color: transparent;
			padding: 0;
			height: auto;
			width: auto;
		}

		.links {
			display: flex;
			flex-direction: row;
			margin: 0;
		}
	}
</style>
