---
interface Props{
    title: string,
    description: string
}

const { title, description } = Astro.props;
---

<div class="neww">
	<h3 class="newTitle">{title}</h3>
	<p class="newDescription">{description}</p>
</div>

<style>
	.newTitle {
		color: #fff;
		font-weight: 700;
		transition: all 0.5s;
	}

	.newTitle:hover {
		color: var(--soft-orange);
		cursor: pointer;
	}

	.newDescription {
		color: var(--grayish-blue);
	}
</style>
